DEBUG=True
SECRET_KEY=arandomstring
ALLOWED_HOSTS=*,
DATABASE_URL=postgresql://postgres:postgres@db:5432/veiculos
DB_ENGINE=postgresql
DB_NAME=veiculos
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
